@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Yıldırım Beyazıt Universty<br />
    Ovacık-Ankara<br />
    <abbr title="Phone">P:</abbr>
   05423275958
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:zozkalkan@gmail.com">zozkalkan@gmail.com</a><br />
</address>